<%= simple_form_for(@improvement) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.input :improvement, :label => "What to improve", placeholder: "Explain the improvement idea", autofocus: true, :label_html => { :class => 'type' }%>	
	<br>
	<br>

  <% if current_user && current_user.admin == true %>
  <h4>Listis' reply</h4>
    <div class="table-responsive-lg">
      <table class='table'>
        <thead>
          <tr>
            <th>Listis' reply</th>
            <th>Status</th>          
            <th>Status value</th>
            <th>Set On</th>
            <th>Completed On</th>
          </tr>
        </thead>
        <tbody> 
          <tr class="tr-improve-fields">          
            <td><%= f.input :reply, label: false, placeholder: "Explain why it can/can not be done", autofocus: true, :label_html => { :class => 'type' }%></td> 
			      <td><%= f.input :status, input_html: { class: 'status'}, label: false, :collection => ['Created', 'In Progress', 'Completed'], :include_blank => false %></td>     
			      <td><%= f.input :status_value, :as => :hidden, label: false, input_html: { class: 'statusValue', value: f.object.status_value || '0'}  %></td> 
			      <td	style="display:none"><%= f.hidden_field :created_at,  input_html: { class: 'setAt'} %></td>
			      <td	style="display:none"><%#= f.hidden_field :done_at,  input_html: { class: 'setAt'} %></td> <!-- THIS NEEDS SOME LOGIC. WHEN THE STATUS IS MARKED AS COMPLETED IT SHOULD SET ITSELT--> 
          </tr>               
        </tbody>
      </table>
      <hr>
    </div>
    <br>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success', id: 'formButton'%>
  </div>   
<% end %>

