<% provide(:page_title, 'Improvements') %>
<% provide(:improvements_active, 'active') %>

<div class="container">
  <h3>Improvements</h3>
  <br>
  <p class="improvement-intro"> Here we all can add our suggestions for the better of <b class="b">Listis</b>. We cans see what others have suggested. Feel free to add and vote for any suggestion you would like to see implemented. We'll do our best to implement the suggestion voted higher on each month if circumstances allow us. Bear in mind we strive for the notion Less is More...
  </p>
  <br>
  <br>
  <a>
  <%= link_to new_improvement_path do%><i class="fa fa-plus"></i><% end %><button type="button" class="btn showCompletedLists active " data-toggle="button" role="button" aria-pressed="true" autocomplete="off">Hide Completed Improvements</button>
  </a>
  <br>
  <br>
  <div class="table-responsive">
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Improvement</th> 
        <th>Listis' Reply</th>       
        <th>Status</th>  
        <th>Status Value</th> 
        <th>Set On</th> 
        <th>Fineshed On</th>       
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody class="improvements">
      <% @improvements.each do |improvement| %>
        <tr>
          <td class="caption" style="text-align:center;">
            <%= link_to like_improvement_path(improvement), class: "like", method: :put do %>
            <button type="button" class="btn -btn-info thumbs" aria-label="Left Align">
              <i class="fa fa-thumbs-up"></i>
              <span class="badge"><%= improvement.get_upvotes.size %></span>
            </button>
            <% end %>
            <%= link_to unlike_improvement_path(improvement), class: "like", method: :put do %>
            <button type="button" class="btn -btn-info thumbs" aria-label="Left Align">
              <i class="fa fa-thumbs-down"></i>
              <span class="badge"><%= improvement.get_downvotes.size %></span>
            </button>
            <% end %>
          </td>
          <td><%= improvement.improvement(&:capitalize)%></td> 
          <td><%= improvement.reply(&:capitalize)%></td> 
          <td><%= improvement.status(&:capitalize)%></td> 
          <td><%= improvement.status_value%></td> 
           <td><%= improvement.user.email %></td> 
          <td><%= improvement.created_at.strftime('%d %b %Y %H:%M') %></td>
          <td><%#= improvement.done_at.strftime('%d %b %Y %H:%M') %></td> <!-- This will need some logic to make it work -->
         <!-- improvement.user == current_user || -->
          <% if improvement.user == current_user || current_user && current_user.admin == true  %>
            <td><%= link_to improvement, data: { toggle: 'tooltip', title: 'View Improvement'} do %><i class="fa fa-binoculars"></i><% end %></td>
            <td><%= link_to edit_improvement_path(improvement), data: { toggle: 'tooltip', title: 'Edit Improvement'} do %><i class="fa fa-pencil-square-o"></i><% end %></td>
            <td><%= link_to improvement, method: :delete, data: { confirm: 'Are you sure?' }, data: { toggle: 'tooltip', title: 'Delete Improvement'}  do%><i class="fa fa-trash" aria-hidden="true"></i><% end %></td>
          <% else %>
           <td><%= %></td>
           <td><%= %></td>
           <td><%= %></td>           
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <hr>  
  <%= link_to new_improvement_path do%><i class="fa fa-plus"></i><% end %></td>
</div>
<br class="br-improvement">

  


  <%= link_to new_list_path, data: { toggle: 'tooltip', title: 'Create New List'} do%><i class="fa fa-plus"></i><% end %></td>