<% provide(:page_title, 'Home') %>
<% provide(:home_active, 'active') %>
<div class="container-fluid" >
	<div class="row">		
		<div class="top">
			<div class="layer">	
				<%= render 'layouts/navbar' %>	
					<%= render 'layouts/flash_notice_alert' %>
			<!--<div class="img-fluid"> -->
				<div class="jumbotron one d-flex justify-content-center jbt-home-focus">
					<p class="p-home-focus">We were born<br>
					with the <b><i>power</i></b> of <b>FOCUS</b>.<br>
					<!--Yes! You still have it.<br> go back to basics, --> <br> 
					<b>FOCUS</b> and you will succeed.</b>
					</p>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
	<!-- Second part -->
<div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12 col-md-4 text-center what-is-li">	    
			<h2>What is Listis?</h2> 
			<p> <b>Listis </b>is your tool at hand to set, track and stay focus on achieving your Goals!!</p>
			<%= image_tag "futuristic-whatislist2.png", class: "img_what_listis"%>	
		</div>
	    <div class="col-xs-12 col-md-8 text-center achieve">	    
				<h2 class="achieve">Achieve your Goals in 3 steps</h2>			
				<div class="jumbotron cards jumbo-three-steps"> 
					<div class="row row-three-steps">
						<div class="card one col-xs-12 col-md-4 col-lg-4">
						  <%= image_tag "create-account1.png", class: "create-account"%>
						  <div class="card-body">
						    <h2 class="card-title text-center">1. Create Account</h2>			    
						    <p class="card-text">Click on <a class="signup" href="/users/sign_up">Sign up</a> and create your free and secure account</p>
						    <div class="d-flex justify-content-center">
						    <a href="/users/sign_up" class="btn btn-primary text-center">Sign up</a>
						    </div>
						  </div>
						</div>
						<div class="card one col-xs-12 col-md-4 col-lg-4 card23">
						  <%= image_tag "Target-icon-1.png", class: "set-goals"%>
						  <div class="card-body">
						    <h2 class="card-title text-center">2. Set your Goals</h2>
						    <p class="card-text">Set your Goals, the steps and deadline, then go and enjoy the ride </p>		 
						  </div>
						</div>	
						<div class="card one col-xs-12 col-md-4 col-lg-4 card23 ">
						  <%= image_tag "goal-achieved.png", class: "achieve-goals"%>
						  <div class="card-body">
						    <h2 class="card-title text-center">3. Achieve your Goals!</h2>
						    <p class="card-text">Mark the tasks' status as you go along. Your aim is to <b class="green">Complete</b> all your tasks. Simple.</p>		   
						  </div>
						</div>
					</div>
			</div> 				
		</div>
	</div>
</div>
<!-- third -->
<div class="row-girl">		
	<div class="middle ">
		<div class="layer">
		</div>
		<br>
	</div>
</div>

<!-- Last -->
<div class="container-fluid">	
	<div class="jumbotron p-0">
		<p class="last-home-center">Don't over complicate it, remember less is more, just set few goals at the time, achieve them and move on to create few more, you will be amazed by what you can achieve when you <b>FOCUS</b>. These are your success lists.
	    What are you waiting for?<a class="last-part" href="/users/sign_up"> Sign up</a> and start achieving...
		<br>
		<br>
		Listis is built with the community. This means that you can suggest changes to Listis for it to be improved. Click on <a class="last-part" href="/improvements">Improvements</a> and add as many as you want. You can check what others have suggested already, and vote for those suggestions if you which to do so. Others will be able to see your suggestions and vote for them too. 
		</p>
	</div>
</div>
<br>