<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form_message.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form_message.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @form_message.company %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @form_message.subject %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @form_message.phone %>
</p>

<p>
  <strong>Body:</strong>
  <%= @form_message.body %>
</p>

<%= link_to 'Edit', edit_form_message_path(@form_message) %> |
<%= link_to 'Back', form_messages_path %>
