<!DOCTYPE html>
<html>
  <head>
    
    <%# THIS IS A FULLY CUSTOMISED APPLICATION-TEMPLATE %>
    <title> Listis | <%= yield(:page_title) %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
       <!-- Jquery script to be added -->
  </head>

  <body>   

    <% unless current_page?(root_path) %>
      <%= render 'layouts/navbar' %> <%# As it is outside the container it will use the fullwidth %>   
      <div class="container <%= controller_name %> <%= action_name %> ">
    <% end %>
    
    <%#= render 'layouts/flash_notice_alert' %>
      <%= yield %>
      <br>
    </div>
    <%= render 'layouts/footer.html.erb' %>
    
    <script>
      ( function($) {
       $('[data-toggle="tooltip"]').tooltip()
      })(jQuery)
    </script>
  </body>

</html>
